.footer-container {
    background-color: #6379F4;
    height: 60px;
    color: #E1E3F0;
    padding: 8px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 16px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.company-info {
    display: flex;
}

.company-num {
    padding-right: 32px;
}

@media only screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        justify-content: center;
    }

    .company-info {
        flex-direction: column;
    }
}