.pop-up-title{
    font-size: 14px;
    margin-bottom: 0px;
}
.card p{
    font-size: 18px;
}

.notif-icon {
    width: 28px;
    margin: 10px;
    font-size: 24px;
    margin-bottom: 10px;
}

.notification-card {
    display: flex;
    width: 100%;
    align-items: flex-start;
    padding: 12px;
    margin: 12px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 4px #ebebeb;
    border-radius: 10px;
}

.notification-icon {
    margin-right: 12px;
    margin-top: -8px;
}

.notification-icon p {
    font-size: 28px;
}

.notification-income {
    color:#1EC15F
}

.notification-expense {
    color: #FF5B37;
}

.notification-notes {
    font-size: 14px;
    font-family: 'Nunito-Regular',sans-serif;
    color:#7A7A7A
}

.notification-amount {
    font-size: 18px;
    font-family: 'Nunito-Bold', sans-serif;
    color: #43484F;
}