* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Nunito-Bold';
  src: local('Nunito-Bold'), url(../public/fonts/Nunito-Bold.ttf), format('truetype');
}

@font-face {
  font-family: 'Nunito-SemiBold';
  src: local('Nunito-SemiBold'), url(../public/fonts/Nunito-SemiBold.ttf), format('truetype');
}

@font-face {
  font-family: 'Nunito-Regular';
  src: local('Nunito-SemiBold'), url(../public/fonts/Nunito-Regular.ttf), format('truetype');
}

p {
  margin-top: 0;
  margin-bottom: 0;
}